{% macro render_field_with_errors(field) %}
        {% if field.type == 'BooleanField' %}
            {{ field.label }} {{ field(**kwargs)|safe }}
        {% elif field.type == 'SubmitField' %}
            <div class="center">
            {{ field.label }} {{ field(class='btn center',**kwargs)|safe }}
            </div>
        {% else %}
            {{ field.label }} {{ field(class='form-control',**kwargs)|safe }}
        {% endif %}

        {% if field.errors %}
            <ul>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
{% endmacro %}

{% macro render_field(field) %}
    <p>{{ field(**kwargs)|safe }}</p>
{% endmacro %}